footer
  button.save__button.button-rect.buttons(type="button" onclick="window['dialog-id'].showModal();" aria-controls="dialog-id")
    svg.save__icon.icon__floppy(viewBox= "0 0 29 28")
      use(href="./svg/floppy.svg#floppy")/
    span.button__text Сохранить на память