header.header
      div.main-chapter
        h1.main-text &lt;/HTML&gt;
        h2.about-main-text закрывающий тег
      nav.theme-menu 
        //Не меняйте разметку этого списка, иначе скрипты перестанут работать 
        ul.theme-menu__list
          li.theme-menu__item
            button.theme-menu__button(type="button" data-theme="dark") Темно
          li.theme-menu__item
            button.theme-menu__button(type="button" data-theme="auto" disabled) Авто
          li.theme-menu__item
            button.theme-menu__button(type="button" data-theme="light") Светло