block variables   
  -
    var articles = [
      {'filter': 'image__normal', 
      'chapter_h': 'Фритрек и нулевой спринт: Подготовка к работе',
      'back__text': "</HTML>",
      'chapter__text_1': 'Это было самое начало пути. На этом этапе важно было проникнуться основами и настроиться на учёбу. И, возможно, подумать, как новые знания могут повлиять на ваше будущее.',
      'chapter__text_2': 'Мои воспоминания. Начало обучения. сначала долго думал, стоит ли идти на фулл-стэк, может быть все-таки ПаЙтОН Б или C++..., ИЛИ Java..., но уже устал видеть пайтон и его библиотеки, а C++ можно и самому... а Java преподают в универе. Да и подумал - кого возьмут фулл-стек без опыта? Обычно это люди, умеющие все и с многолетним опытом... С другой стороны, открывается путь как фронтендером, так и бэкэндером. Долго поразмышляв, все таки решил начать учиться в практикуме. Подумал, что моя специальность инженер-программист по направлению Информатика и вычислительная техника не сделает просто так из меня веб-разработчиком',
      'alt': 'Начало обучения',
      },
      {'filter': 'image__sepia', 
      'chapter_h': '1 спринт: Я — чистый лист',
      'back__text': "</HTML>",
      'chapter__text_1': 'На первых этапах мы работали со страхами и сомнениями, которые часто испытывают новички. Один из них — страх перед чистым листом. Это, конечно же, намного сложнее, чем боязнь куска бумаги. Часто за этим ощущением скрываются более глубокие вопросы: с чего начать? а вдруг будет слишком сложно? что, если я не справлюсь?',
      'chapter__text_2': 'Мои воспоминания. В начале первого спринта думал: А ГДЕ ПРОГРАММИРОВАНИЕ??? Ощущение, будто делаешь презентацию в powerpoint только с помощью кода и теперь уже более высокого уровня, а не просто: wikipedia, ctrl+C ctrl+V и уходишь радостный с баллами для зачета по предмету... Но это все таки было для меня намного легче, да и страхов никаких не было',
      'alt': 'Начало первого спринта',
      },
      {'filter': 'image__saturate', 
      'chapter_h': '1 спринт: А если не получится?',
      'back__text': "<css>",
      'chapter__text_1': 'Первый проект — позади! Но это всё ещё самое начало пути. Радость могла быстро померкнуть и смениться ожиданием провала. Или вы, наоборот, могли вдохновиться успехами и поверить в себя.',
      'chapter__text_2': 'Мои воспоминания. Не было мыслей, что что-то не получится: все было легко... НАМНОГО. Это было лучше, чем писать десктопное приложение на C++ с помощью SFML для курсовой работы прошлого семестра, где для каждого чиха нужен класс с кучей полей и методов расположения, нажатия, ввода и т.д.... А в верстке все просто: написал <button> отключил border и радуешься, что не надо писать: Button Button_1 = Button("Добавить",500,500,250, 250, &my_font, ...[куча других входных данных конструктора Button])',
      'alt': 'Первый проект',
      },
      {'filter': 'image__hue-rotate', 
      'chapter_h': '2 спринт: Погоня за идеалом',
      'back__text': "<desigions>",
      'chapter__text_1': 'На этом этапе вы уже достаточно разбирались в основах вёрстки, чтобы понять, как много ещё впереди. Вы могли попытаться погнаться за идеалом и понять, что он недостижим. А, может, вы вовсе и не подвержены перфекционизму и вместо того, чтобы сделать идеально, старались просто сделать.',
      'chapter__text_2': 'Мои воспоминания. Из-за начала 2 курса и из-за того, что до уника нужно топать 2 часа, времени на практикум осталось мало... Любое свободное время уходило на практикум... Информация не становилась тяжелой: тяжело было найти время... Потому что проект вот-вот был близко... Как и дедлайн...',
      'alt': 'Начало второго спринта',
      },
      {'filter': 'image__invert', 
      'chapter_h': '2 спринт: О тех, кто рядом',
      'back__text': "care",
      'chapter__text_1': 'Всё это время вы были не одиноки (хотя, возможно, иногда и чувствовали, что одни против целого мира). Вас окружали одногруппники, команда сопровождения и просто близкие люди, которым можно пожаловаться, если очередной макет просто так не поддавался. Осваивать что-то новое легче, когда рядом есть единомышленники, не правда ли?',
      'chapter__text_2': 'Мои воспоминания. Из-за того, что времени было мало, я начал проект второго спринта на практикумовских каникулах (у меня просто еще есть университетские - это другие ;) ) за пять дней на быстром темпе пришлось верстать и стилизовать все. БЛАГО был написан html... прямо в воскресенье получил зачет. Радости и облегчения не было предела',
      'alt': 'Окончание второго спринта',
      },
      {'filter': 'image__grayscale', 
      'chapter_h': '3 спринт: Обходные стратегии',
      'back__text': "<support>",
      'chapter__text_1': 'На этом курсе вы постоянно решали разные задачи. В какой-то момент вам могло показаться, что решения просто иссякли. Значит, пришло время посмотреть на задачу под другим углом.',
      'chapter__text_2': 'Мои воспоминания. После второго спринта также было мало времени на практикум. Я дейстивтельно боялся, что перейду в другую когорту, просто потому что на дорогу в вуз уходит суммарно в день 4-4,5 часа. НО в конце октября (Примерно конец 3 спринта) мне дали общежитие. До университета теперь надо было 30 -35 минут. Но за эти дни накопилось много тем, которые я еще не прошел... дедлайн ОПЯТЬ был очень близко',
      'alt': 'Начало третьего спринта',
      },
      {'filter': 'image__blur', 
      'chapter_h': '3 спринт: Когда опускаются руки',
      'back__text': "<lifes-style: none;>",
      'chapter__text_1': 'Во время учёбы часто возникает чувство, когда не знаешь, за что хвататься. Вроде и проектную пора сдавать, и задачи хочется порешать, и в теории получше разобраться, и жизнь не забыть пожить. В такие моменты очень нужна концентрация. Вспомните, откуда вы её черпали.',
      'chapter__text_2': 'Мои воспоминания. Как и со вторым спринтом пришлось на скорую руку делать проект. И опять в воскресенье я получил зачет. Этот проект не был слишком сложным, сложно было одно - на 4 спринт одна неделя, как и на проект... Но за 2 месяца в практикуме я научился концертироваться мне кажется как никогда: это мне даже помогает в домашних заданиях из вуза, успевая при этом заниматься любимыми делами и спортом (минимум два раза в неделю в зал)',
      'alt': 'Окончание третьего спринта'
      },
      {'filter': 'image__contrast', 
      'chapter_h': '«Сейчас я здесь»',
      'back__text': "<experience>",
      'chapter__text_1': 'Сейчас вы уже очень много знаете о вёрстке. Но это только начало. Во-первых, впереди ещё много материала про «красотищу». Во-вторых, с окончанием курса учёба не заканчивается. Вёрстка — это целый мир. И этот мир постоянно меняется. Познать его полностью не получится, но это тот случай, когда важен сам процесс познания. Ведь часто путь — и есть результат.',
      'chapter__text_2': 'Мои воспоминания. Сейчас суббота... 1:38... пишу это прямо сейчас... Очень много времени убил на SVG... То они НЕ ПОДКЛЮЧАЛИСЬ, то они из-за свойства mix-blend-mode ПРОПАДАЛИ, то live-server ЛАГАЛ... Вообщем... думал, что самое сложное будут анимации, но нет... ВСЕ ВРЕМЯ УШЛО НА SVG :/ Но несмотря на всю картинку, я рад, что научился чему-то МНОГОМУ ЧЕМУ!!! - верстке. Понял, что без JS можно многое сделать, а если и надо, то размер файлов небольшие (Никогда не работал с JS (пока что), но синтаксис уж больно знакомый, понимаю, что там происходит). Понял, что вместо занудных библиотек tkinter из python (Сюда можно отнести и pygame), sfml и Qt из C++, где надо много писать методов, классов, логику, функций и понимать линейную алгебру и аналитическую геометрию для десктопного приложения, можно сделать красивый, адаптивный, плавный сайт, используя просто верстку, html, css, ну и node.',
      'alt': 'Сейчас я здесь', 
      },
    ]


doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Закрывающий тег
    link(rel="stylesheet" href="./fonts/fonts.css")
    link(rel="stylesheet" href="./styles/variables.css")
    link(rel="stylesheet" href="./styles/globals.css")
    link(rel="stylesheet" href="./styles/style.css")
    link(rel="stylesheet" href="./styles/animations.css")
    meta(name="color-scheme" content="dark light")
    link(rel="stylesheet" href="styles/themes.css")
    link(rel="icon" href = "./svg/favicon.svg" media = "(prefers-color-scheme: dark)")
    link(rel="apple-touch-icon" sizes="180x180" href="./images/favicon.png")
    script(src="./scripts/set-theme.js")
  body.page
    include ./header
    main.content__section
      include ./article.pug 
      each article in articles 
        +article(article['filter'], article['chapter_h'], article['back__text'], article['chapter__text_1'], article['chapter__text_2'], article['alt'])
      include ./save
      include ./dialog
    script(src="./scripts/like.js")
