block variables   
  -
    var articles = [
      {'filter': 'image__normal', 
      'chapter_h': 'Фритрек и нулевой спринт:',
      'chapter_h_ext': ' Подготовка к работе',
      'chapter__text_1': 'Это было самое начало пути. На этом этапе важно было проникнуться основами и настроиться на учёбу. И, возможно, подумать, как новые знания могут повлиять на ваше будущее.',
      'chapter__text_2': 'Место для ваших воспоминаний о начале обучения.',
      },
      {'filter': 'image__sepia', 
      'chapter_h': '1 спринт: Я — чистый лист',
      'chapter_h_ext': '',
      'chapter__text_1': 'На первых этапах мы работали со страхами и сомнениями, которые часто испытывают новички. Один из них — страх перед чистым листом. Это, конечно же, намного сложнее, чем боязнь куска бумаги. Часто за этим ощущением скрываются более глубокие вопросы: с чего начать? а вдруг будет слишком сложно? что, если я не справлюсь?',
      'chapter__text_2': 'Место для ваших воспоминаний о начале первого спринта.',
      },
      {'filter': 'image__saturate', 
      'chapter_h': '1 спринт: А если не получится?',
      'chapter_h_ext': '',
      'chapter__text_1': 'Первый проект — позади! Но это всё ещё самое начало пути. Радость могла быстро померкнуть и смениться ожиданием провала. Или вы, наоборот, могли вдохновиться успехами и поверить в себя.',
      'chapter__text_2': 'Место для ваших воспоминаний об окончании первого спринта.',
      },
      {'filter': 'image__hue-rotate', 
      'chapter_h': '2 спринт: Погоня за идеалом',
      'chapter_h_ext': '',
      'chapter__text_1': 'На этом этапе вы уже достаточно разбирались в основах вёрстки, чтобы понять, как много ещё впереди. Вы могли попытаться погнаться за идеалом и понять, что он недостижим. А, может, вы вовсе и не подвержены перфекционизму и вместо того, чтобы сделать идеально, старались просто сделать.',
      'chapter__text_2': 'Место для ваших воспоминаний о начале второго спринта.',
      },
      {'filter': 'image__invert', 
      'chapter_h': '2 спринт: О тех, кто рядом',
      'chapter_h_ext': '',
      'chapter__text_1': 'Всё это время вы были не одиноки (хотя, возможно, иногда и чувствовали, что одни против целого мира). Вас окружали одногруппники, команда сопровождения и просто близкие люди, которым можно пожаловаться, если очередной макет просто так не поддавался. Осваивать что-то новое легче, когда рядом есть единомышленники, не правда ли?',
      'chapter__text_2': 'Место для ваших воспоминаний об окончании второго спринта.',
      },
      {'filter': 'image__grayscale', 
      'chapter_h': '3 спринт: Обходные стратегии',
      'chapter_h_ext': '',
      'chapter__text_1': 'На этом курсе вы постоянно решали разные задачи. В какой-то момент вам могло показаться, что решения просто иссякли. Значит, пришло время посмотреть на задачу под другим углом.',
      'chapter__text_2': 'Место для ваших воспоминаний о начале третьего спринта.',
      },
      {'filter': 'image__blur', 
      'chapter_h': '3 спринт: Когда опускаются руки',
      'chapter_h_ext': '',
      'chapter__text_1': 'Во время учёбы часто возникает чувство, когда не знаешь, за что хвататься. Вроде и проектную пора сдавать, и задачи хочется порешать, и в теории получше разобраться, и жизнь не забыть пожить. В такие моменты очень нужна концентрация. Вспомните, откуда вы её черпали.',
      'chapter__text_2': 'Место для ваших воспоминаний об окончании третьего спринта.',
      },
      {'filter': 'image__contrast', 
      'chapter_h': '«Сейчас я здесь»',
      'chapter_h_ext': '',
      'chapter__text_1': 'Сейчас вы уже очень много знаете о вёрстке. Но это только начало. Во-первых, впереди ещё много материала про «красотищу». Во-вторых, с окончанием курса учёба не заканчивается. Вёрстка — это целый мир. И этот мир постоянно меняется. Познать его полностью не получится, но это тот случай, когда важен сам процесс познания. Ведь часто путь — и есть результат.',
      'chapter__text_2': 'Место, чтобы остановиться, подумать и написать, что вы чувствуете в этой точке пути.',
      },
    ]


doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Закрывающий тег
    link(rel="stylesheet" href="./fonts/fonts.css")
    link(rel="stylesheet" href="./styles/variables.css")
    link(rel="stylesheet" href="./styles/globals.css")
    link(rel="stylesheet" href="./styles/style.css")
    link(rel="stylesheet" href="./styles/animations.css")
    meta(name="color-scheme" content="dark light")
    link(rel="stylesheet" href="styles/themes.css")
    script(src="./scripts/set-theme.js")
  body.page
    include ./header
    main.content__section
        include ./article.pug 
        each article in articles 
          +article(article['filter'], article['chapter_h'], article['chapter_h_ext'], article['chapter__text_1'], article['chapter__text_2'])
    script(src="./scripts/like.js")
